@using TagHelpersDemo.TagHelpers

@{
    ViewData["Title"] = "Home Page";
}

<div class="clearfix">&nbsp;</div>

<hand player="John">
    <card suit="@CardTagHelper.CardSuit.Heart" rank="@CardTagHelper.CardRank.Ace"></card>
    <card suit="@CardTagHelper.CardSuit.Club" rank="@CardTagHelper.CardRank.Eight"></card>
    <card suit="@CardTagHelper.CardSuit.Diamond" rank="@CardTagHelper.CardRank.Jack"></card>
</hand>

<hand player="Jane">
    <card suit="@CardTagHelper.CardSuit.Spade" rank="@CardTagHelper.CardRank.Four"></card>
    <card suit="@CardTagHelper.CardSuit.Heart" rank="@CardTagHelper.CardRank.Queen"></card>
    <card suit="@CardTagHelper.CardSuit.Heart" rank="@CardTagHelper.CardRank.Seven"></card>
</hand>