@using static TagHelpersDemo.TagHelpers.CardTagHelper

@{
    ViewData["Title"] = "Home Page";
}

<div class="clearfix">&nbsp;</div>

<hand player="John">
    <card suit="@CardSuit.Heart" rank="@CardRank.Ace"></card>
    <card suit="@CardSuit.Club" rank="@CardRank.Eight"></card>
    <card suit="@CardSuit.Diamond" rank="@CardRank.Jack"></card>
</hand>

<hand player="Jane">
    <card suit="@CardSuit.Spade" rank="@CardRank.Four"></card>
    <card suit="@CardSuit.Heart" rank="@CardRank.Queen"></card>
    <card suit="@CardSuit.Heart" rank="@CardRank.Seven"></card>
</hand>